html, body, #map {
        background-color: #fff
      }

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: "Helvetica", sans-serif;
}

#map {
    /*height: 100vh;*/
    height: 300px;/*added*/
    width: 100vw;/*width: 70vw;*/    
    position: absolute;
    border-bottom: 3px solid orange;/*added*/
    top: 0; /*added*/
    left: 0;
    z-index: 1;
}

#narration {
    position: absolute;
    top: 303px;/*added*/
    width: 100vw;/*added*/
    /*width: 30vw;*/
    height: calc(100vh - 303px);/*added*/
    /*height: 100vh;*/
    /*min-width: 300px;*/
    /*right: 0px;*/
    /*overflow: auto;*/
    /*z-index: 99;*/
    z-index: 80;/*added*/
    background: rgba(254,254,254, .8); /* to apply opacity background only. */
}

#contents {
    padding: 0;
    width: 100%;
    margin-top: 0; /*Adjust if Title header needs more space */
    height: 100%; /* Adjust to fit max Description length, one setting for all; alternative is 100% */
    overflow-y: scroll;
    overflow-x: hidden;
}

#contents .space-at-the-top {
    height: 40px; /*30px*/
    margin: 0;
}

#contents .space-at-the-bottom {
    height: 300px; /*px130*/
    margin: 0; 
    text-align: center;
    padding-top: 150px; /*70px*/
}


.title-text {
    position: absolute;
    right: 0;
    top: 303px;/*0px*/
    background-color: white;
    width: 100vw;/*30vw*/
    /*min-width: 300px;*/
    z-index: 100;
    margin: 0;
    padding: 0;
    /*visibility: hidden;*/
    /*font-weight: bold;*/
    text-align: center;
        opacity: 1;
}
/*
#chapter {
    position: absolute;
    z-index: 999;
    margin: 0px;
    display: block;
    text-align: center;
    color: #fff;
}
*/

.image-container {
    /* margin + padding = imageContainerMargin in script.js */
    /* Important for scrolling! */
    margin: 50px 0 0 0;/**/
    padding: 20px 0 0 0;
    text-align: center;
}

.image-container img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    /* Three lines that center vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-holder {
    margin: 0;
    margin-bottom: 5px;
    height: 300px;
    max-height: 300px;
    width: 100%;
}

/*
.title-text {
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
*/
/*
  #title {
    width: 80%;
    left: 10%;
    min-width: 0;
  }
*/

.chapter-header {
    display: block;
    text-align: center;
    font-size: 120%;
    padding: 0 5px;
}

.source {
    font-size: 9pt;
    margin: 20px;
}

.description {
    margin: 20px; /**/
    text-align: left;
    font-size: 14pt;
    padding: 20px;
    line-height: 140%;
}

.inFocus {
    opacity: 1.0;
    background-color: #f0f0f0;
}

.outFocus {
    opacity: 0.3;
    background-color: white;
}
/*
@media only screen and (max-device-width: 480px) {
  ::-webkit-scrollbar {
      display: none;
  }
*/
        
  .leaflet-control-container {
     visibility: hidden;
  }
}
